<p>Happy <%= Date.current.strftime("%A") %>!</p>

<p> <%= @dailyhoroscope.horoscope %> </p>

<p>The current weather is <%= @current_summary.downcase %> and it's <%= @current_temp.to_s %> degrees outside! </p>

<p>Here's your packing list for today:</p>
<ul>
  <% if @precipcount >= 1 %>
    <li>Umbrella (it may rain today)</li>
  <% end %>
  <% if @cloudycount <= 4 %>
    <li>Sunglasses (it's pretty sunny today)</li>
  <% end %>
  <% if @coldcount >= 4 %>
    <li>Extra layer (ouch, today has temps below freezing)</li>
  <% end %>
</ul>
